= form_for [@user, @post], html: { class: 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :title, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, class: 'text-field form-control'
  .form-group
    = f.label :markdown, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :markdown, class: 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), user_posts_path(@user), class: 'btn btn-default'
