!!!
%html
  %head
    %title ProgBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://assets-cdn.github.com/assets/github-c534ad575b5bb8c3cc3dce9c571df7aa7400dbe9.css', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    %meta(content="width=device-width, initial-scale=1" name= "viewport")/
  %body
    = render "elements/navbar"
    .container
      = bootstrap_flash
      = yield
