!!!
%html
  %head
    %title ProgBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    = viewport_meta_tag(maximum_scale: '1.0')
  %body
    .container
      = render "elements/navbar"
      = bootstrap_flash
      = yield
